@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  margin: 8px 2px
}

.buttons {
  display: flex;
  justify-content: center;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.input {
  display: flex;
  justify-content: center;
}

.left-links, .right-links {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 8px 8px;
  padding: 8px 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

.header .left-links {
  align-content: flex-start;
}

.footer .left-links {
  display: flex;
  align-items: flex-end;
}


.content {
  flex: 1;
  align-self: center;
}

a {
  color: grey;
  text-decoration: none;
}

