body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  display: block;
  margin-bottom: 8px;
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  margin: auto;
  
}
